<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<script>
/*<![CDATA[*/
function cancel()
{
	 var theUrl="/profile-api/profiles-list";	
	location.href=theUrl;
}


/*]]>*/
</script>

<form action="/profile-api/profiles" method="post" th:object="${profile}">
	<!-- Display Errors -->
	<ul th:if="${#fields.hasErrors('*')}">
	  <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
	</ul>
	<input type="hidden" id="id" th:field="*{id}"/>
	<table  align="center" width="60%">
		<!-- Display Name -->
		<tr>
			<td width="20%">Name </td>
			<td width="80%">
				<input type="text" name="displayName" th:field="*{displayName}"  size="100%" maxlength="256"/>
			</td>
		</tr>

		<!-- Real Name -->
		<tr>
			<td>Real Name </td>
			<td>
				<input type="text" name="realName" 	th:field="*{realName}"  size="100%" maxlength="256"/>
			</td>
		</tr>

		<!-- DOB -->
		<tr>
			<td>DOB (dd/MM/yyyy)</td>
			<td>
				<input type="text" name="dateOfBirth" 	th:field="*{dateOfBirth}" size="30%" maxlength="10" />
			</td>
		</tr>

		<!-- Gender -->
		<tr>
			<td>Gender </td>
			<td>
				<table>
					<tr>
						<td th:each="row: ${genderValues}">
							<input type="radio"  th:field="*{gender}" th:value="${row.key}" name="gender" />
							<label th:for="${#ids.prev('gender')}" th:text="${row.value}" />
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<!-- Ethinicity -->
		<tr>
			<td>Ethinicity </td>
			<td>
				<select id="ethinicity" name="ethinicity" th:field="*{ethinicity}">
					<option th:each="row : ${ethinicities}" th:value="${row}"  th:text="${row}"></option>
				</select>
			</td>
		</tr>

		<!-- Religion -->
		<tr>
			<td>Religion </td>
			<td>
				<select id="religion" name="religion" th:field="*{religion}">
					<option th:each="row : ${religions}" th:value="${row}"  th:text="${row}"></option>
				</select>
			</td>
		</tr>

		<!-- Height -->
		<tr>
			<td>Height </td>
			<td>
				<div th:if="*{newRecord}">
					<input type="text" name="height" 	th:field="*{height}" />
				</div>
				<div th:unless="*{newRecord}">
					<lable th:text="${height}"/>
				</div>
				</td>
		</tr>

		<!-- Picture -->
		<!-- TODO -->

		<!-- Maritial Status -->
		<tr>
			<td>Maritial Status</td>
			<td>
				<select id="maritialStatus" name="maritialStatus" th:field="*{maritialStatus}">
					<option th:each="row : ${maritialStatuses}" th:value="${row}"  th:text="${row}"></option>
				</select>
			</td>
		</tr>
		<!-- Occupation. -->
		<tr>
			<td>Occupation </td>
			<td>
				<input type="text" name="occupation"  th:field="*{occupation}"  size="100%" maxlength="256"/></td>
		</tr>

		<!-- About Me -->
		<tr>
			<td>About Me </td>
			<td><textarea name="aboutMe"  th:field="*{aboutMe}" cols="70" rows="5" maxlength="5000"/></td>
		</tr>
		
		<!-- location -->
		<tr>
			<td>Location </td>
			<td>
				<select id="location" name="location" th:field="*{location}">
					<option th:each="row : ${locations}" th:value="${row}"  th:text="${row}"></option>
				</select>	
			</td>
		</tr>
		
		<tr>
			<td colspan="3">
			<div align="center">
				<input  type="submit" th:value="Submit"/>
				<input  type="button" th:value="Cancel" onclick="cancel()"/>
			</div>
			</td>
		</tr>
	</table>
</form>
</html>